// COLOR

$color-primary: #E91E63;
$color-primary-dark: #C2185B;
$color-primary-light: #fce5ed;

$color-message: #DDFFD4;
$color-message-dark: #52B939;

$color-grey: #999999;
$color-grey-dark: #363636;
$color-grey-light: #F5F5F5;
$color-grey-light-2: #EBEBEB;

$color-white: #ffffff;
$color-black: #000000;