.home-list {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;

    @include respond(tab-land) {
        margin: .6rem 1rem;
    }
    @include respond(phone) {
        flex-direction: column;
        align-content: center;
    }

    &--space-between {
        justify-content: space-between;
    }

    &__title {
        margin-left: 1rem;
        margin-top: 4rem;
        color: $color-grey;
        font-size: 1.6rem;
        text-align: center;
        @include respond(tab-land) {
            margin-top: 3rem;
        }
    }

    &__link {
        margin-right: 1rem;
        margin-top: 4rem;
        color: $color-primary-dark;
        font-size: 1.6rem;

        @include respond(tab-land) {
            margin-top: 3rem;
        }
    }

    &__page-number {
        grid-column: center-start / center-end;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: $color-primary;
    }
}