.sidebar {
    background-color: $color-grey-dark;
    grid-column: sidebar-start / sidebar-end;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: fixed;
    width: 25rem;
    height: 100vh;
    margin-top: 6rem;

    @include respond(tab-land) {
        width: 20rem;
    }
    @include respond(tab-port) {
        width: 15rem;
    }
    @include respond(mini) {
        width: 10rem;
        margin-top: 0;
    }
}