.home {
    background-color: $color-grey-light;
    grid-column: full-start / full-end;


    display: grid;
    grid-template-columns:  
        [left-space] minmax(4rem, 1fr)
        [center-start] 100rem
        [center-end] minmax(4rem, 1fr)
        [right-space];
}