.button {
    
    &--primary {
        background-color: $color-primary-dark;
        color: $color-grey-light;
        font-size: 1.8rem;
        padding: 1.2rem;
        border-radius: .7rem;
        margin: 1.5rem;
    }
}