.button {
    background-color: $color-primary-dark;
    color: $color-grey-light;
    cursor: pointer;
    &:hover {
        background-color: $color-primary;
    }
    &:active {
        background-color: $color-primary-dark;
    }
    
    &--primary {
        font-size: 1.8rem;
        padding: .8rem 1.2rem;
        border-radius: .7rem;
        margin: 1.5rem;
    }

    &--login {
        font-size: 1.4rem;
        padding: .4rem .6rem;
        border-radius: .3rem;
        margin: 1.5rem;

        &:nth-of-type(1) {
            margin-right: 0rem;
        }
    }
}