.nav-items {
    
    &__logo {
        height: 4.5rem;
        width: 4.5rem;
        margin-left: 2rem;

        @include respond(phone) {
            display: none;
        }
    }

    &__profile {
        text-decoration: none;
        color: $color-grey-dark;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        
        &--img {
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 50px;
            border: 1px $color-grey-light solid;
            object-fit: cover;
        }

        &--name {
            padding: 2rem;
        }

        &:hover {
            background-color: $color-grey-light;
        }
    }

    &__auth {
        display: flex;
    }

    &__roomieRegister {
        padding: 3rem;

        &:hover {
            background-color: $color-grey-light;
        }
    }
}