.roomie-box {

    width: 30%;
    background-color: $color-white; 
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include respond(tab-land) {
        width: 32%;
    }
    @include respond(tab-port) {
        padding: 1rem;
        width: 33%;
    }
    @include respond(phone) {
        width: 70%;
        margin-bottom: .5rem;
    }
    @include respond(mini) {
        width: 95%;
    }

    &__img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-size: 1.4rem;
        padding-top: 1rem;
    }

    &__address {
        color: $color-grey-dark;
    }
}