.roomie-box {
    border: 1px solid $color-grey-light-2;
    border-radius: .2rem;
    width: 31%;
    background-color: $color-white; 
    padding: 3rem;

    margin: 1.1666%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    // @include respond(tab-port) {
    //     width: 46%;
    //     margin: 2%;
    // }
    @include respond(phone) {
        width: 70%;
        margin-bottom: .5rem;
    }
    @include respond(mini) {
        width: 95%;
    }

    &__img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-size: 1.4rem;
        padding-top: 1rem;
    }

    &__address {
        color: $color-grey-dark;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
    }

    &__form-title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__message-box {
        min-height: 7rem;
        width: 20rem;
        margin-bottom: 1rem;
        align-self: center;
    }
}