*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background-color: inherit; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes popIn {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

.nav-items__logo {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .nav-items__logo {
      display: none; } }

.nav-items__profile {
  text-decoration: none;
  color: #363636;
  display: flex;
  align-items: center;
  padding-left: 2rem; }
  .nav-items__profile--img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50px;
    border: 1px #F5F5F5 solid;
    object-fit: cover; }
  .nav-items__profile--name {
    padding: 2rem; }
  .nav-items__profile:hover {
    background-color: #F5F5F5; }

.nav-items__auth {
  display: flex; }

.nav-items__roomieRegister {
  padding: 3rem; }
  .nav-items__roomieRegister:hover {
    background-color: #F5F5F5; }

.side-items {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  cursor: pointer; }
  .side-items__profile-info {
    color: #F5F5F5;
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .side-items__profile-info {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 43.75em) {
      .side-items__profile-info {
        font-size: 1.2rem; } }
  .side-items__profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50px;
    margin: 2rem auto;
    object-fit: cover; }
    @media only screen and (max-width: 56.25em) {
      .side-items__profile-img {
        width: 6rem;
        height: 6rem; } }
    @media only screen and (max-width: 43.75em) {
      .side-items__profile-img {
        width: 4rem;
        height: 4rem; } }
  .side-items__item {
    list-style: none;
    font-size: 1.6rem;
    padding: 2rem 0 2rem 0; }
    .side-items__item:hover {
      background: #E91E63; }
    @media only screen and (max-width: 56.25em) {
      .side-items__item {
        font-size: 1.2rem;
        padding: 1.6rem 0 1.6rem 0; } }
    @media only screen and (max-width: 43.75em) {
      .side-items__item {
        font-size: 1rem; } }
  .side-items__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F5F5; }

.roomie-box {
  border: 1px solid #EBEBEB;
  border-radius: .2rem;
  width: 31%;
  background-color: #ffffff;
  padding: 3rem;
  margin: 1.1666%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .roomie-box {
      width: 46%;
      margin: 2%; } }
  @media only screen and (max-width: 43.75em) {
    .roomie-box {
      width: 70%;
      margin-bottom: .5rem; } }
  @media only screen and (max-width: 31.25em) {
    .roomie-box {
      width: 95%; } }
  .roomie-box__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover; }
  .roomie-box__name {
    font-size: 1.4rem;
    padding-top: 1rem; }
  .roomie-box__address {
    color: #363636; }

.button {
  background-color: #C2185B;
  color: #F5F5F5;
  cursor: pointer;
  transition: all .3s; }
  .button:hover {
    background-color: #E91E63; }
  .button:active {
    background-color: #C2185B; }
  .button--primary {
    font-size: 1.8rem;
    padding: .8rem 1.2rem;
    border-radius: .7rem;
    margin: 1.5rem; }
  .button--login {
    font-size: 1.4rem;
    padding: .4rem .6rem;
    border-radius: .3rem;
    margin-right: 1.5rem; }
  .button--search {
    border: 1px solid #E91E63;
    border-radius: 50px;
    height: 2.5rem;
    background-color: #ffffff;
    padding: 0 2rem 0 2rem;
    margin-left: 1rem; }
    .button--search:focus {
      outline: none; }
    .button--search--active {
      border-radius: 50px;
      border: 1px solid #E91E63;
      background-color: #E91E63;
      color: #ffffff;
      height: 2.5rem;
      padding: 0 2rem 0 2rem;
      margin-left: 1rem; }
      .button--search--active:focus {
        outline: none; }
  .button--more {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.2rem 1.6rem;
    border-radius: .7rem;
    margin: 1.5rem; }

.rent-box {
  width: 31%;
  height: 25rem;
  margin: 1.1666%;
  background-color: #ffffff;
  position: relative; }
  .rent-box__img {
    width: 100%;
    height: 100%;
    transition: all .5s;
    cursor: pointer; }
  .rent-box__caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: #ffffff;
    opacity: 0;
    transition: all .5s; }
    .rent-box__caption--region {
      font-size: 1.6rem; }
    .rent-box__caption--rent {
      font-size: 1.2rem; }
    .rent-box__caption--edit {
      font-size: 2rem;
      margin-top: 1rem; }
  @media only screen and (max-width: 75em) {
    .rent-box {
      height: 22rem; } }
  @media only screen and (max-width: 56.25em) {
    .rent-box {
      width: 46%;
      margin: 2%;
      height: 20rem; } }
  @media only screen and (max-width: 43.75em) {
    .rent-box {
      width: 70%; } }
  @media only screen and (max-width: 31.25em) {
    .rent-box {
      width: 95%; } }
  .rent-box:hover .rent-box__img {
    filter: blur(2px) brightness(50%); }
  .rent-box:hover .rent-box__caption {
    opacity: 1; }

.input--login {
  width: 12rem;
  margin: .2rem;
  margin-right: 1rem; }

.register-form {
  width: 30rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column; }
  .register-form__heading {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center; }
  .register-form__label {
    font-size: 1.4rem; }
  .register-form__input {
    margin-bottom: 1rem; }
  .register-form__textarea {
    min-height: 5rem;
    margin-bottom: 1rem; }

.search-bar {
  border: 1px solid #EBEBEB;
  border-radius: 50px;
  height: 2.5rem;
  background-color: #ffffff;
  padding: 0 2rem 0 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 31.25em) {
    .search-bar {
      margin-left: 1rem; } }
  .search-bar:focus {
    outline: none;
    border: 1px solid #E91E63; }

.roomie-detail {
  width: 100%;
  background-color: #ffffff;
  margin: 1rem; }
  .roomie-detail__img-box {
    width: 31%;
    background-color: #E91E63; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  animation: fadeIn .3s ease-out; }
  .popup__content {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 50rem;
    background-color: #ffffff;
    z-index: 2000;
    animation: popIn .3s ease-out; }
  .popup__left {
    width: 60%;
    display: flex;
    align-items: center;
    background-color: #000000; }
  .popup__roomie-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover; }

.account-box {
  border: 1px solid #EBEBEB;
  border-radius: .2rem;
  width: 98%;
  background-color: #ffffff;
  padding: 3rem;
  margin: 1%;
  font-size: 1.2rem; }

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 6rem;
  width: 100vw; }

.sidebar {
  background-color: #363636;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  width: 25rem;
  height: 100vh;
  margin-top: 6rem; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      width: 20rem; } }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      width: 15rem; } }
  @media only screen and (max-width: 43.75em) {
    .sidebar {
      width: 10rem; } }

.home-list {
  grid-column: center-start / center-end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start; }
  @media only screen and (max-width: 75em) {
    .home-list {
      margin: .6rem 1rem; } }
  @media only screen and (max-width: 43.75em) {
    .home-list {
      flex-direction: column;
      align-content: center; } }
  .home-list--space-between {
    justify-content: space-between; }
  .home-list--more {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center; }
  .home-list__title {
    margin-left: 1rem;
    margin-top: 4rem;
    color: #999999;
    font-size: 1.6rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .home-list__title {
        margin-top: 3rem; } }
  .home-list__link {
    margin-right: 1rem;
    margin-top: 4rem;
    color: #C2185B;
    font-size: 1.6rem;
    font-weight: bold; }
    @media only screen and (max-width: 75em) {
      .home-list__link {
        margin-top: 3rem; } }
  .home-list__page-number {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #E91E63; }

.search-container {
  grid-column: center-start / center-end;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 43.75em) {
    .search-container {
      align-items: center; } }
  .search-container__heading {
    margin: 1rem;
    color: #999999;
    font-size: 1.6rem; }
  .search-container__message {
    font-size: 1.8rem;
    margin: 1rem; }
  .search-container__setting {
    margin-bottom: 1rem; }

.home {
  background-color: #F5F5F5;
  padding-top: 6rem;
  margin-left: 25rem;
  display: grid;
  grid-template-columns: [left-space] minmax(1rem, 1fr) [center-start] minmax(10rem, 120rem) [center-end] minmax(1rem, 1fr) [right-space]; }
  @media only screen and (max-width: 75em) {
    .home {
      margin-left: 20rem; } }
  @media only screen and (max-width: 56.25em) {
    .home {
      margin-left: 15rem; } }
  @media only screen and (max-width: 43.75em) {
    .home {
      margin-left: 10rem; } }

.register {
  background-color: #F5F5F5;
  padding-top: 6rem;
  margin-left: 25rem;
  height: 100vh;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .register {
      margin-left: 20rem; } }
  @media only screen and (max-width: 56.25em) {
    .register {
      margin-left: 15rem; } }
  @media only screen and (max-width: 43.75em) {
    .register {
      margin-left: 10rem; } }
